.menu .title {
    font-size: 2rem;
    line-height: 1.5;
    color: #303030;
    margin-top: 0;
}

.menu .subtitle {
    font-size: 1rem;
    line-height: 1.5;
    color: darkgray;
    margin-top: 0;
}

.menu .breaker {
    padding: 1rem;
}

.logo {
    width: 50px;
    margin: 0;
}

.svgcolor {
    fill: #303030;
}