.container {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 250px;
    padding: 30px;
    height: 100%;
    /* overflow-y: scroll; */
}

.container .steps {
    margin-top: 20px;
}

.container .steps > div {
    padding: 5px 0;
    border-bottom: 1px dashed #eee;
}

.container h2 {
    font-size: 35px;
    line-height: 0.8;
    color: #303030;
    margin-top: 0;  
}

.container svg {
    width: 200px;
}

.container a {
    color: #fff;
    font-size: 1rem;
    background: orangered;
    padding: 2px 5px;
    border-radius: 4px;
    margin: 10px 0 0;
    display: inline-block;
}