.container {
    width: calc(100% - 400px);
    margin-left: 350px;
    position: relative;
}

.editor {
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 400px;
}

.linkTopHomepage {
    float: right;
}

.container h2 {
    margin-top: 50px;
}